html,body{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.el-header{padding: 0px;}
.table .el-table th{
	background-color: #ecf8ff;
}
.table .el-table .cell{
	white-space:nowrap;
}
.table .el-table tr.no-pass td{
	background-color: red!important;
	color:#fff!important;
}

.win-btn .el-button--text{
	color:#2b2b2b;
}
